
/* Shared for all accordion types */
.accordion {
    font-family:Arial, Helvetica, sans-serif;
    margin:0 auto;
    font-size:14px;
    border:1px solid #333333;
    width:90%;
    padding:6px;
    background:#fff;
}
.accordion ul {
    list-style:none;
    margin:0;
    padding:0;
}
.accordion li {
    margin:0;
    padding:0;
}
.accordion [type=radio], .accordion [type=checkbox] {
    display:none;
}
.accordion label {
    display:block;
    font-size:16px;
    line-height:16px;
    background:#093459;
    border:1px solid #333333;
    color:#fff;
    font-weight:700;
    cursor:pointer;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
}
.accordion ul li label:hover, .accordion [type=radio]:checked ~ label, .accordion [type=checkbox]:checked ~ label {
    background:#666666;
    color:#FFF;
}
.accordion .content {
    padding:0 10px;
    border:1px solid #fff; /* Make the border match the background so it fades in nicely */
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    overflow:scroll;
    height:auto;
}
.accordion p {
    color:#202020;
    margin:0 0 10px;
}
.accordion h3 {
    color:#202020;
    padding:0;
    margin:10px 0;
}


/* Vertical */
.vertical ul li {
    overflow:hidden;
    margin:0 0 1px;
}
.vertical ul li label {
    padding:10px;
}
.vertical [type=radio]:checked ~ label, .vertical [type=checkbox]:checked ~ label {
    border-bottom:0;
}
.vertical ul li label:hover {
    border:1px solid #542437; /* We don't want the border to disappear on hover */
}
.vertical ul li .content {
    height:0px;
    border-top:0;
}
.vertical [type=radio]:checked ~ label ~ .content, .vertical [type=checkbox]:checked ~ label ~ .content {
    height:300px;
    border:1px solid #093459;
}